<ion-header>

  <ion-navbar color="primary">

    <ion-title>Agregar Proceso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>

		<ion-item>
		    <ion-label>Tipo de Proceso</ion-label>
		    <ion-select [(ngModel)]="tipoProceso">
		      <ion-option *ngFor="let tipo of _ctp.tisposProcesosActivos" value="{{tipo.id}}">{{tipo.nombre}}</ion-option>
		    </ion-select>
		</ion-item>
	
		<ion-item>
		    <ion-label>Ciudad</ion-label>
		    <ion-select [(ngModel)]="ciudad" (ionChange)="onSelectChange($event)">
		      <ion-option *ngFor="let ciudad of _ccp.ciudadesActivas" value="{{ciudad.id}}">{{ciudad.nombre}}</ion-option>
		    </ion-select>
		</ion-item>

		<ion-item>
		    <ion-label>Juzgado</ion-label>
		    <ion-select [(ngModel)]="juzgado">
		      <ion-option *ngFor="let juzgado of _cjp.juzgadosActivos" value="{{juzgado.id}}">{{juzgado.nombre}}</ion-option>
		    </ion-select>
		</ion-item>
	
		<ion-item>
		    <ion-label fixed>Radicado</ion-label>
		    <ion-input type="text" [(ngModel)]="radicado"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label fixed>Demandante</ion-label>
		    <ion-input type="text" [(ngModel)]="demandante"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label fixed>Demandado</ion-label>
		    <ion-input type="text" [(ngModel)]="demandado"></ion-input>
		</ion-item>

		<ion-item>
		  <ion-label>Fecha Radicación</ion-label>
		  <ion-datetime displayFormat="MMM/DD/YYYY" [(ngModel)]="fecha"></ion-datetime>
		</ion-item>

		<ion-item>
		  	<ion-label>Estado</ion-label>
		  	<ion-toggle checked="true" [(ngModel)]="estado"></ion-toggle>
		</ion-item>

		<button ion-button
					block
					icon-left
					(click)="crearProceso(tipoProceso, ciudad, juzgado, radicado, demandante, demandado, fecha, estado)">
				<ion-icon name="add"></ion-icon>
				Crear
		</button>

	</ion-list>

</ion-content>
