<ion-header>

  <ion-navbar color="primary">

    <ion-title>{{user.nombres}} {{user.apellidos}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	

	<ion-list>

		<ion-input type="hidden" [(ngModel)]="id_user" value="{{user.id}}"></ion-input>
		
		<div class="caja">

			<ng-container *ngIf="imagenPrevia == null">
				    
				    <ion-avatar item-start *ngIf="user.image == null">
				      <img src="/assets/imgs/default.png" class="avatar">
				    </ion-avatar>

				    <ion-avatar item-start *ngIf="user.image != null">
				      <img [src]="user.image | imagenPlan" class="avatar">
				    </ion-avatar>


			</ng-container>
			
			<ion-item *ngIf="imagenPrevia">
			    <img [src]="imagenPrevia">
			</ion-item>

			

	    </div>

	    <ion-grid padding>
		  <ion-row>
		    <ion-col col-6>
		    	<button ion-button 
					block
			    	(click)="seleccionarFoto()">
			    	<ion-icon name="photos"></ion-icon>
			    	&nbsp;Imagen
				</button>

		    </ion-col>
		    <ion-col col-6>
			    	<button ion-button 
						block
				    	(click)="mostrarCamara()">
				    	<ion-icon name="camera"></ion-icon>
				    	&nbsp;Tomar Foto
				</button>
			</ion-col>
		  </ion-row>
		</ion-grid>

		<ion-item>
		    <ion-label fixed>Nombres</ion-label>
		    <ion-input type="text" [(ngModel)]="nombres" value="{{user.nombres}}"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label fixed>Apellidos</ion-label>
		    <ion-input type="text" [(ngModel)]="apellidos" value="{{user.apellidos}}"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label>Tipo Identificación</ion-label>
		    <ion-select [(ngModel)]="tipo_identificacion">
		      <ion-option value="CC">CC</ion-option>
		      <ion-option value="CE">CE</ion-option>
		      <ion-option value="TI">TI</ion-option>
		    </ion-select>
		</ion-item>

		<ion-item>
		    <ion-label fixed>Identificación</ion-label>
		    <ion-input type="text" [(ngModel)]="identificacion" value="{{user.identificacion}}"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label fixed>Teléfono</ion-label>
		    <ion-input type="number" [(ngModel)]="telefono" value="{{user.telefono}}"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label fixed>Email</ion-label>
		    <ion-input type="email" [(ngModel)]="email" value="{{user.email}}"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label fixed>Dirección</ion-label>
		    <ion-input type="text" [(ngModel)]="direccion" value="{{user.direccion}}"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label>Genero</ion-label>
		    <ion-select [(ngModel)]="genero">
		      <ion-option value="Masculino">Masculino</ion-option>
		      <ion-option value="Femenino">Femenino</ion-option>
		    </ion-select>
		</ion-item>

		<ion-item>
		  <ion-label>Cambiar Contraseña</ion-label>
		  <ion-checkbox [(ngModel)]="activarPass"></ion-checkbox>
		</ion-item>

		<ion-item *ngIf="activarPass">
		    <ion-label floating>Nueva Contraseña</ion-label>
		    <ion-input type="password" [(ngModel)]="pass1"></ion-input>
		</ion-item>

		<ion-item *ngIf="activarPass">
		    <ion-label floating>Confirmar Contraseña</ion-label>
		    <ion-input type="password" [(ngModel)]="pass2"></ion-input>
		</ion-item>


		<button ion-button
					block
					icon-left
					(click)="actualizarPerfil(id_user, nombres, apellidos, tipo_identificacion, identificacion, telefono, email, direccion, genero, pass1, pass2 )">
				<ion-icon name="refresh-circle"></ion-icon>
				Actualizar
		</button>

		<button ion-button
					block
					color="danger"
					icon-left
					(click)="resetPassword(id_user)">
				<ion-icon name="warning"></ion-icon>
				Reset Password
		</button>

	</ion-list>

</ion-content>
